.container {
    background-color: rgb(79, 61, 177);
    display: flex;
    gap: 25%;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 10px;
}

.removeButton {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}