.inputController {
    background-color: rgb(39, 78, 151);
    display: flex;
    gap: 50px;
    margin-left: 20%;
    align-items: center;
    border-radius: 25px;
}

.inputController input {
    border-radius: 5px;
    margin: 5px;
}

.addButton {
    background-color: blue;
    margin-left: 50px;
    padding: 0.5rem;
    border-radius: 5px;
}